@tailwind base;
@tailwind components;
@tailwind utilities;



/* header */

.hero{
    background-image: url(./img/header_img.png);
    /* background-position: center; */
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    /* background-position: center; */
    /* background-size: 800px; */
    background-position: 50% -10% ;
    background-size: 99.5%;
}


/* slider */
.swiper {
  width: 100%;
  height: 100%;

}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}




/* welcome section */
#welcome-bg1{
  background-image: url(./img/bg-1.png);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}


/* cith section */
#welcome-bg2{
  background-image: url(./img/bg-2.png);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}